@mixin arrow-icon{
    position: absolute;
    top: 45vh;
    z-index: 1;
    &::before {
        font-family: 'icomoon';
        font-size: 5rem;
        color: white;
        color: rgba(256, 256, 256, 0.5);
    }
    &:hover::before{
        color:white;
        transition: 0.5s;
    }
}

.banner { 
    position: absolute; 
    margin-top: 5vh;
    left: 0; 
    ul{
        padding: 0;
        margin: 0;
    }
    li { 
        background: no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 95vh;
        width: 100vw;
        list-style: none; 
    }
    ul li { 
        float: left; 
    }
    /*position the next element under the banner*/
    & + * {
        margin-top: 108vh;
    }
}
.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}

.prev {
    left: 3rem;
    @include arrow-icon;
}
.next {
    right: 3rem;
    @include arrow-icon;
}

