@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-69o0dc");
  src: url("fonts/icomoon.eot?#iefix-69o0dc") format("embedded-opentype"), url("fonts/icomoon.ttf?-69o0dc") format("truetype"), url("fonts/icomoon.woff?-69o0dc") format("woff"), url("fonts/icomoon.svg?-69o0dc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  font-family: 'Raleway', sans-serif;
  background-color: #E7E7E7;
  color: #8A8A8A; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

a {
  text-decoration: none;
  color: inherit; }

.navbar {
  background: #E7E7E7;
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0; }
  .navbar h1 {
    display: inline-block;
    font-size: 3rem;
    margin: 0;
    padding: 1rem; }
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 1rem;
    right: 0; }
  .navbar li {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    float: right;
    padding-right: 2rem; }

/**********************
* ARTICLE
**********************/
.article {
  max-width: 900px;
  padding-top: 1px;
  margin: 5rem auto; }
  .article h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem; }
  .article p {
    line-height: 1.75; }
  .article .article-info {
    text-align: center;
    margin: 1rem auto; }
    .article .article-info h3 {
      display: inline-block;
      font-size: 1rem;
      font-style: italic;
      font-family: 'PT Sans', sans-serif; }
      .article .article-info h3.comments {
        position: relative;
        margin-left: 2.5rem; }
        .article .article-info h3.comments::before {
          font-family: 'icomoon';
          content: "";
          position: absolute;
          left: -1.2rem;
          top: 2px; }
      .article .article-info h3.likes {
        position: relative;
        margin-left: 1.5rem; }
        .article .article-info h3.likes::before {
          font-family: 'icomoon';
          content: "";
          position: absolute;
          left: -1.2rem;
          top: 1px; }
  .article .article-images {
    width: 100vw;
    height: 90vh;
    background: green;
    position: absolute;
    left: 0;
    background-image: url("img/hero.jpg");
    background-size: cover;
    background-repeat: none; }

/**********************
* TILE LAYOUT
**********************/
.grid {
  min-height: 100vh;
  max-width: 1200px;
  margin: 2rem auto; }

#grid[data-columns]::before {
  content: '4 .column.size-1of4'; }

.tile {
  background-color: white;
  padding-bottom: 1px;
  margin-bottom: 2rem;
  box-shadow: 5px 7px 20px -8px rgba(0, 0, 0, 0.8); }
  .tile img {
    width: 100%;
    display: block; }
  .tile h2 {
    text-transform: uppercase;
    margin-left: 1rem; }
  .tile p {
    margin: 1rem; }

.column {
  float: left; }
  .column + .column {
    margin-left: 2.66667%; }

.size-1of4 {
  width: 23%; }

.hero-image {
  background-image: url(img/waterland.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85% 66%;
  margin: 0; }
  .hero-image .motivational {
    position: absolute;
    top: 20%;
    right: 10%;
    color: white; }
    .hero-image .motivational h1, .hero-image .motivational h2 {
      font-family: Tangerine, cursive;
      font-weight: 500;
      font-size: 3rem;
      text-shadow: 1px 1px 7px black;
      margin: 0.5rem; }
    .hero-image .motivational h2 {
      float: right; }

/*# sourceMappingURL=main.css.map */
